/* html {
  scroll-behavior: smooth; 
} */
:root{
  --main-color: #bdae82;
}
*{
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  
  /* border: 1px solid red; */
}

body{
  margin: 0;
  width: 1440px; /*  */
  
}
.logo {
  margin: auto 0;
  width: 50px;
  height: 50px;
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
  }
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}
.header{
  background: url('./assets/img/header-bg.jpg');
}
.header-container {
  display: flex;
  flex-direction: row;
  
  height: 90px;
  
  background-repeat: no-repeat;
  background-position: center 0;
}
.nav-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  list-style: none;
}
.nav-link{
  padding-left: 30px;
  line-height: 50px;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  
}
.section header a {
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}
.lang{
  display: flex;
  align-items: center;
  margin-left: 31px;
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
}
.lang-gold{
  color: var(--main-color);
}
/*    MAIN    */
.main{
  background: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center -90px;
  background-color: #000000;
}
.wraper-hero{
  width: 500px;
  height: 330px;
  padding: 160px 0 330px 60px;
  
}

.wraper-hero h1{
  margin: 0;
  text-transform: capitalize;
  font-family: 'Merriweather';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
}
.wraper-hero-text {
  width: 470px;
  padding: 10px 0 25px 0;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
button{
  width: 220px;
  height: 55px;
  text-align: center;
  border: 0;
  color: #000000;
  background-color: var(--main-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.button:hover{
  color: #FFFFFF;
}
/*    skills    */

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section:first-child{
  align-items: flex-start;
}
.wraper-section-title:not(:last-child){
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  overflow-x: hidden;
}

.wraper-section-title:not(:last-child):before{
  font-size: 0;
  /* white-space: nowrap; */
  display: block;
  position: absolute;
  top:calc(50% + 20px);
  display: flex;
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
}
.wraper-section-title h2{
  display:flex;
  align-items: center;
  position: relative;
  align-items: center;
  padding: 100px 20px 60px 20px;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-color);
  background-color: #000000;
}
.skill-item {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.item{
  width: 320px;
  height: 240px;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center top;
  box-sizing: border-box;
}

.item p {
  border: 0px;
  width: 280px;
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.item div{
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}
.camera {
  background-size: 62px 50px;
  background-image: url('./assets/img/camera 1.png');
}
.video{
  background-image: url('./assets/img/video 1.png');
}
.image{
  background-image: url('./assets/img/image 1.png');
}
.mic{
  background-image: url('./assets/img/mic 1.png');
}
.portfolio-item{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.season{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding-bottom: 60px;
}

.btn-season-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 55px;
  border: 2px solid var(--main-color);
  background-color: #000000;

  color: var(--main-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
}
.btn-season-item:last-child{
  color: black;
  background-color: var(--main-color);
}
.kostyl{
  margin-top: -6px;
  background-color: none;
}
.video-player {
  width: 100%;
  height: 705px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/video/video-player.jpg);
}
.video-player img{
  position: absolute;
  /* top:50%; left: 50%; */
  opacity: 0.6;
}
.video-player img:hover{
  opacity: 1;
}
.price{
  display: flex;
  gap: 25px;
  width: 100%;
}
.price-item-wraper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  border: 3px solid var(--main-color);
  
}
.price-item-wraper span{
  display: block;
}
.price-item-1{
  padding-top: 43px;
  padding-bottom: 20px;
  font-family: Merriweather;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}
.price-item-2{
  padding-bottom: 20px;
  font-family: Merriweather;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-color);
}
.price-item-3{
  width: 364px;
  
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}
.price button{
  border: 0px;
 margin-top: 40px;
 margin-bottom: 43px;
}

/* Contact me */

.container-contacts{
  width: 1440px;
  margin: 100px auto 0;
}
.section-contact{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-image: url(./assets/img/contacts.jpg);
  background-repeat: no-repeat;
  }
.title-contact{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 60px 20px 0 195px;
  font-family: 'Inter';
}
.title-contact>h2{
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-color);
  padding-bottom: 40px;
}
.input-item{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 450px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid var(--main-color);
}
.input-item-txt{
  font-family: inherit;
  background-color: transparent;
  border: 1px solid var(--main-color);
}
textarea{
  resize:none;
  width: 450px;
  height: 100px;
  box-sizing: border-box;
  padding-left: 20px;
}
::placeholder {
  color: #bdae82;
  font-size: 20px;
  line-height: 50px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #bdae82;
  transition: background-color 0s ease-in-out 9000s;
}
.title-contact button{
  margin-top: 30px;
  margin-bottom: 195px;
}
