/* html {
  scroll-behavior: smooth; 
} */
*{
  color: #FFFFFF;
  margin: 0;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  
  /* border: 1px solid red; */
}
.container:first-child{
  background-color: none;
}
body{
  margin: 0;
  width: 1440px; /*  */
  
}
.logo {
  margin: auto 0;
  width: 50px;
  height: 50px;
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
  }
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}
.header{
  background: url('./assets/img/header-bg.jpg');
}
.header-container {
  display: flex;
  flex-direction: row;
  
  height: 90px;
  
  background-repeat: no-repeat;
  background-position: center 0;
}
.nav-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  list-style: none;
}
.nav-items{
  
}
.nav-link{
  padding-left: 30px;
  line-height: 50px;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  
}
.section header a {
  border: 1px solid yellow;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}
.lang{
  display: flex;
  align-items: center;
  margin-left: 31px;
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
}
.lang-gold{
  color: #BDAE82;
}
/*    MAIN    */
.main{
  background: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center -90px;
  background-color: #000000;
}
.wraper-hero{
  width: 500px;
  height: 330px;
  padding: 160px 0 330px 60px;
  
}

.wraper-hero h1{
  margin: 0;
  text-transform: capitalize;
  font-family: 'Merriweather';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: left;
}
.wraper-hero-text {
  width: 470px;
  padding: 10px 0 25px 0;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  box-sizing: border-box;
}
button{
  width: 220px;
  height: 55px;
  text-align: center;
  border: 0;
  color: #000000;
  background-color: #bdae82;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
/*    skills    */
.container section:first-child{
  justify-content: flex-start;
}
section{
  width: 100%;
  display: flex;
  justify-content: center;
}
.wraper-section-title{
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
}

.wraper-section-title:before{
  position: absolute;
  top:58%;
  display: flex;
  content: '';
  display: block;
  height: 2px;
  width: 700px;
  background-color: #bdae82;
}
h2{
  position: relative;
  align-items: center;
  padding: 100px 20px 60px 20px;
  text-transform: capitalize;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  color: #bdae82;
  background-color: #000000;
}