:root {
    --primary-color: #142b31;
    --secondary-color: #21424bc9;
}

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background-color: var(--primary-color);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 0 20px 0 20px;
}
.header__content{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    height: 70px;
}
a{
    text-decoration: none;
}
.header__logo{
    font-size: 2.5em;
    color: #fff;
}
.header__search{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    /* outline: none; */
}
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.movie{
    position: relative;
    width: 300px;
    height: 470px;
    margin: 5px 0px 30px 0px;
    /* overflow: hidden; */
}
.movie__cover-in{
    position: relative;

    /* height: 100%; */
    font-size: 0;

}
.movie__cover{
    max-width: 100%;
    height: 100%;
}
.movie__cover--darkened{
    background-color: black;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.movie__cover--darkened:hover{
    background-color: grey;
    cursor: pointer;
}
.movie__info{ /* mainblockinfo */
    padding: 10px 0;
    overflow:hidden;
    
    color: #fff;
}
.movie__title{
    font-size: 1.2em;
    word-break:break-all;
}
.movie__category{
    font-size: .8em;
    color: #ffd80e;
    width: 470px;
    height: 50px;
    padding: 0 2px 0 2px;
}
.movie__average{
    position: absolute;
    
    top: 10px;
    left: 10px;
/* если убрать, то останется на свем месте ??! */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222030;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1em;
    color: #fff;
}
.movie__average--green{
    border: 1px solid green;
}
.movie__average--yellow{
    border: 1px solid rgb(228, 228, 8);
}
.movie__average--red{
    border: 1px solid rgba(255, 0, 0, 0.705);
}

/* footer */
footer{
    background-color: var(--secondary-color);
}
footer .container{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color:var(--color-black); */
  }
  .git, .rsschool{
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
  }
  .git{
    display: flex;
    flex-direction: row;
    color: #fff;
  }
  .git>div{
    padding-right: 20px;
    
  }
  .rsschool a{
    display: block;
  }

  a{
    text-decoration: none;
    color: #fff;
  }
 a:hover{
    color: #ffd80e;;
  }


  .closeModal {
	position: absolute;
	top: 25px;
	right: 35px;
	width: 20px;
	height: 20px;
	opacity: 0.2;
	cursor: pointer;
  transition: opacity ease 0.5s;


}
.closeModal:hover{
   
		opacity: 1;

}

.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: rgb(226, 16, 16);
}

.closeModal::before {
	transform: rotate(45deg);
}

.closeModal::after {
	transform: rotate(-45deg);
}