*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background-color: #222030;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 0 20px 0 20px;
}
.header__content{
    display: flex;;
    align-items: center;
    justify-content: space-between;
    
    height: 70px;
}
a{
    text-decoration: none;
}
.header__logo{
    font-size: 2.5em;
    color: #fff;
}
.header__search{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    /* outline: none; */
}
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.movie{
    position: relative;
    width: 300px;
    height: 470px;
    margin: 5px 0px 30px 0px;
    /* overflow: hidden; */
}
.movie__cover-in{
    position: relative;

    /* height: 100%; */
    font-size: 0;

}
.movie__cover{
    max-width: 100%;
    height: 100%;
}
.movie__cover--darkened{
    background-color: black;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.movie__cover--darkened:hover{
    background-color: grey;
    cursor: pointer;
}
.movie__info{ /* mainblockinfo */
    padding: 10px 0;
    overflow:hidden;
    
    color: #fff;
}
.movie__title{
    font-size: 1.2em;
    word-break:break-all;
}
.movie__category{
    font-size: .8em;
    color: #ffd80e;
    width: 470px;
    height: 100px;
    padding: 0 2px 0 2px;
}
.movie__average{
    position: absolute;
    
    top: 10px;
    left: 10px;
/* если убрать, то останется на свем месте ??! */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222030;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1em;
    color: #fff;
}
.movie__average--green{
    border: 1px solid green;
}
.movie__average--yellow{
    border: 1px solid rgb(228, 228, 8);
}
.movie__average--red{
    border: 1px solid rgba(255, 0, 0, 0.705);
}